@charset "UTF-8";
/*!
Template :	Skyre - Multipurpose wordpress theme
Author	 :	Sainul
Version	 :	1.0
*/

/*woocommerce / Button*/
.woocommerce span.onsale {
    background-color: #d7372b;
  }
  
  .woocommerce ul.products li.product .price {
    color: #d7372b;
  }
  
  .sk-btn-primary, .woocommerce ul.products li.product .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #030e20;
    border-radius: 0;
    color: white;
    font-weight: 400;
  }
  
  .sk-btn-primary:hover, .woocommerce ul.products li.product .button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #d7372b;
    border-radius: 0;
    color: white;
    font-weight: 400;
  }
  
  .woocommerce ul.products li.product .button.added {
    background-color: #d7372b;
  }
  
  .woocommerce select, .woocommerce .quantity .qty {
    border-radius: 0;
    line-height: 18px;
    border: solid 1px rgba(3, 14, 32, 0.3);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 8px 0;
  }
  
  .woocommerce div.product form.cart .variations td {
    padding: 7px 0;
  }
  
  /*woocommerce End*/