.sp-page-title{  padding: 100px 0; }
.sk-sports h1 { text-transform:uppercase; font-size:44px;   }
.profile{  position:relative;}
.profile span { height:100px; width:100px; font-size:50px; text-align:center; display:inline-block; border-radius:50%; font-weight:600;  position:absolute; right:-50px; top:30px; }
.player-pic { background:#030e20; margin-top:-234px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);}
.player-pic img { width:100%;}
.player-meta li { float:left; height:120px; width:120px; margin:50px 20px; text-align:center;  text-transform:uppercase; list-style:none; border:solid 5px ; border-radius:50%; padding:30px 0 0 0}
.player-meta li span { display:block; font-size:30px; font-weight:600; line-height:30px;}
.sp-profile-selector { display:block; padding:10px; width:100%;}
.sp-list-wrapper dt { font-weight: 400;}
.sp-list-wrapper dt, .sp-list-wrapper dd { float:left;  width:45%; background:#ececec; padding:6px 15px !important; margin:1px 0 !important; }
.sp-list-wrapper dd { background:#d4d5d7; width:55%;   }
.sp-list-wrapper dl { padding:0 !important; border:none !important; margin-bottom:50px !important}
.sp-tab-group { background:rgba(3,14,32,.1); padding:20px;}
.sp-tab-menu { margin:0 !important;}
.sp-tab-menu li { background:#030e20; border-radius:3px 3px 0 0; margin:0 0 0 10px !important;}
.sp-tab-menu li.sp-tab-menu-item-active { background:#fff; }
.sp-tab-menu li a { padding:5px 10px; margin:0 5px; border-bottom:none !important; color:#fff !important; font-family: font-family: 'Dosis', sans-serif;}
.sp-tab-menu li.sp-tab-menu-item-active a{ border-bottom:none !important; color:#030e20 !important;}
.sp-tab-content { background:#fff; padding:20px; color:#030e20;}
.position-heading { background:#030e20; border:none ; color:#fff ; font-family: 'Dosis' ; font-weight:600; padding:10px 15px ; font-size:18px ; text-transform:uppercase; font-weight:600 ; }


/*widget css*/
.player-photo, .team-logo { overflow:hidden; }
.sk-sp-view-all-link { text-align: center;}
.sk-player-col { padding-bottom:30px;}
.sk-player-grid { line-height:normal; position: relative; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); padding-bottom: 10px; }
.player-field { padding-bottom: 5px;  padding-left: 15px;}
.sk-player-grid .player-photo img { width:100%;}
.sk-player-grid .player-flag { position: absolute; right:25px; top: 4px;}
.sk-player-grid .player-flag img { width:auto;}
.sk-player-grid .player-rank { position: absolute; left:10px; top: 10px; height:60px; width:60px; font-size:30px; font-weight: 600; border-radius:50%; text-align: center; padding: 10px 0 0;}
.sk-player-grid .player-name { font-size: 20px; font-weight: 400;  margin: 10px 0 0; }

/*.sk-player-grid .player-colum, .sk-player-grid .player-name, .sk-player-grid .player-team { padding: 0 15px;}*/

.sp-count-down .team-logo { float: left; width:20%; }
.sp-count-down .logo-even { float: right; }
.sk-event-blocks { text-align: center;}
.sp-event-title, .sp-event-results, .sp-event-date, .sp-event-league, .sp-event-matchday, .sp-event-venue, .sp-event-season { margin: 10px 0;}
.sp-event-title, .sp-event-title a { font-size: 18px; margin-top:0;}
.sp-event-results a { font-size: 34px; font-weight: 600; display:block;}
.sp-event-results {  padding:4px 0;}
.sp-tab-group .sp-event-results {  padding:0;}
.sp-event-results.completed { padding:0;}
.sp-event-league { font-size: 14px; margin-bottom:2px;}
.sp-event-results.completed a { font-size: 54px; line-height: 50px;}
.sk-event-blocks .team-logo img { max-width: 100%;}
.sk-event-blocks .team-logo { width: 70px; height: 70px; max-width: none; margin:55px 20px;}
.sp-tab-group .sk-event-blocks .team-logo { width: 50px; height: 50px; max-width: none; margin:60px 20px;}
.skyre-single .sk-event-blocks .team-logo { width: 50px; height: 50px;}
.sp-event-block-item { line-height: normal; position: relative; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); padding:10px; margin-bottom:30px;}
.sp-event-block-item .logo-odd { position: absolute; left: 0;}
.sp-event-block-item .logo-even { position: absolute; right: 0;}

.sp-calendar-wrapper{ display: flex; flex-wrap: wrap; }
.page .sp-event-calendar tbody td, .page .sp-event-calendar thead th, {font-size: 20px; font-weight: 400;  padding: 30px 0; }
.widget .sp-event-calendar tbody td, .widget .sp-event-calendar thead th {font-size: 16px; font-weight: 400;  padding: 5px 0; }
.table-dark, .table-dark a { color:#fff;}

.sp-table-caption { margin:0; padding:10px; font-size: 20px; width:100%; }
.sp-widget-align-right, .sp-widget-align-left { float: none; width:100%;}
.sp-data-table thead th, .sp-highlight, .sp-heading { font-weight: 400;}

.single-sp_event .sp-event-logos img { max-width: 70px;}
.sp-event-logos { font-size: 30px;}
.single-sp_event .sp-event-logos .sp-team-result { font-weight: 600; font-size: 40px;}


/*medium devices (tablets, 768px and Down)*/
@media (max-width: 991.98px) { 
    .sk-sports h1 { font-size: 30px; }
    .player-pic {  margin-top:-144px;}
    .profile span {  height: 80px; width: 80px; right:15px; top:15px;}
    .player-meta li { height: 95px; width: 95px; margin: 40px 15px 0 0; padding: 15px 0 0 0; border: solid 3px; font-size: 14px;}
    .player-meta li span {  font-size: 24px; }
    .sp-page-title {  padding: 50px 0;  }
    .sp-event-performance-teams .sp-template-event-performance-icons { width:100%;}
    
    .single-sp_event .sp-event-logos img { max-width: 50px;}
    .sp-event-logos { font-size: 26px;}
    .single-sp_event .sp-event-logos .sp-team-result { font-weight: 600; font-size: 30px;}



}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
    .player-pic {  margin-top:15px;}
    .page .sp-event-calendar tbody td, .sp-event-calendar thead th {font-size: 18px;  padding: 10px 0; }
    .sp-page-title {  padding: 30px 0;  }
    .sp-page-title h1 { font-size: 34px;}
    ul.player-meta { padding:0; max-width: 320px;  margin: 0 auto;}
    ul.player-meta li { height: 90px; width: 90px;}
    .single-sp_event .sp-event-logos img { max-width: 34px;}
    .sp-event-logos { font-size: 20px;}
    
    
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sp-tab-group .sk-event-blocks .team-logo { margin: 60px 6px;}
    .sp-event-results a { font-size: 30px;}
    .sp-event-results.completed a { font-size: 40px;}
    .sp-event-logos .sp-team-logo .sp-team-result {   display: block;  margin: 0; font-weight: 600;  font-size: 30px; line-height: 40px;  }

}







