.skyre-widget-post-left {float: left; width: 30%; padding-right:15px;}
.skyre-widget-post-right {float: left; width: 68%;}

.skyre-grid-style-list .skyre-widget-post-item { margin-bottom:20px; }
.skyre-widget-post-item { padding-bottom:30px; }
/*
disbale for home-violoet post listing
@media (max-width: 767px) { .skyre-widget-post-left, .skyre-widget-post-right{ float: none;width: 100%}  }
*/
.skyre-grid-title {margin:15px 0 5px; font-size: 20px; font-weight: 400}
.skyre-grid-addtocart   {margin:10px 0 }
.skyre-grid-meta { margin: 5px 0;}
.skyre-grid-meta span {margin-right:10px;}
.skyre-grid-meta span i { opacity:.5; margin-right:5px;}

.woocommerce .star-rating { height: 20px;}
.skyre-grid-price del span { font-size: 75%;}
.skyre-grid-read-btn a { display: inline-block;}
.onsale { border-radius: 3px;  font-size: 14px; font-weight: 500; left: 30px; padding: 0 10px; top: 15px; position: absolute;}

/* style hover/Grid 2 */
.grid2 .post-item-inner { position: relative;}
.grid2 .skyre-widget-post-content { transition: all 0.5s; opacity: 0; position: absolute; bottom:0;  padding: 5px 15px; cursor: pointer; width:100%; }
.grid2 .content-wrap { transition: opacity 0.3s ease-in; opacity: 0; }
.grid2 .post-item-inner:hover .content-wrap, .grid2 .post-item-inner:hover .skyre-widget-post-content {  opacity: 1 !important; }
.grid2 .post-item-inner:hover .skyre-widget-post-content { background:#000d21 }
.grid2 .skyre-grid-title { margin:5px 0;}

.skyre-grid-col-image { overflow: hidden; }
.skyre-grid-col-image img { width:100%; }